<h1 class="form-title col-md-12 font-family-inherit">
        Test 1
</h1>

<div class="form-description col-md-12">
  <p>请在60分钟内完成本次测试，提交结果后即可查看正确答案解析。</p>
</div>

<div class="field field-section-break col-sm-12" data-api-code="field_2" data-type="SectionBreak"
            data-label="判断题（共5小题；每小题2分，满分10分）" data-validations="[]">

  <hr>

  <div class="form-group">
      <div class="field-label-container" onclick="">
        <label class="field-label font-family-inherit" for="entry_field_2">
            判断题（共5小题；每小题2分，满分10分）
        </label>
      </div>

      <div class="field-content">
        <div class="field-description clearfix">
          <p>从A、B，两个选项中，请选出正确选项</p>

          <p>&nbsp;</p>
        </div>
      </div>
  </div>
</div>
